body {
     background: #E5E5E5;
     font-family: "Open Sans", sans-serif;
     font-size: 14px;
     color: #000000;
     margin: 0px auto;
   }

   @media screen and (min-width: 1000px) {
     body {
       background: url('') repeat;
     }
   }

   #wasu {
     margin-top: 40px;
   }

   #content-wrap {
     max-width: 1000px;
     background: #f6f6f6;
     margin: auto;
     padding-bottom: 2px;
     -webkit-box-shadow: 0px 13px 13px 0px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0px 13px 13px 0px rgba(0, 0, 0, 0.4);
     box-shadow: 0px 13px 13px 0px rgba(0, 0, 0, 0.4);
   }

   tr,
   p {
     margin: 0;
   }

   .tableup {
     height: 53px;
     background: #444444;
     border-collapse: collapse;
   }

   .tableup td a {
     color: #ffffff;
   }

   .tableup a:link {
     color: #ffffff;
   }

   .tableupmati {
     margin: auto;
     text-align: center;
     width: 100%;
   }

   .tableup td {
     width: 25%;
     padding: 8px;
     vertical-align: middle;
   }

   .tableup img:hover {
     transform: scale(1.1);
     transition: all 0.5s ease 0s;
   }

   .tableupmati td {
     vertical-align: middle;
   }

   .otable {
     table-layout: fixed;
   }

   .tableup {
     text-align: center;
     width: 100%;
     padding-top: 3px;
   }

   .tableup td div {
     padding-top: 2px;
   }

   td.vithumb img {
     width: 90px;
     height: 120px;
   }

   .videsc {
     word-wrap: break-word;
   }

   .videsc b {
     color: #cc0000;
   }

   .otable td {
     background-color: #ffffff;
     padding: 8px;
     color: #000000;
     vertical-align: top;
   }

   .otable td a {
     color: #279DDD;
     font-size: 15px;
   }

   .otable td:link,
   .ztable td:link {
     color: #279DDD;
   }

   .notd:hover {
     background: #282828;
     transition: all 0.5s ease 0s;
     text-transform: uppercase;
     opacity: 0.9;
   }

   .kotakcari {
     background: #279DDD;
     color: #ffffff;
     padding: 10px;
     text-align: center;
   }

   .ztable {
     table-layout: fixed;
   }

   .ztable td {
     background-color: #ffffff;
     font-size: small;
     padding: 4px 8px;
     color: #000;
     vertical-align: top;
   }

   td.zvidesc {
     padding-top: 2px;
   }

   td.videsc {
     padding-top: 4px;
   }

   .ztable td a {
     color: #279DDD;
     font-size: 14px;
   }

   td.zvithumb img {
     padding: 1px 0;
     border: 2px solid #fff;
     width: 50px;
     height: 52px;
     border-radius: 50%;
   }

   p.des {
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     display: -moz-box;
     display: box;
     -webkit-line-clamp: 3;
     -moz-line-clamp: 3;
     -line-clamp: 3;
     -webkit-box-orient: vertical;
     margin: 0;
     padding: 0;
   }

   .loca {
     background-color: #ffffff;
     margin-bottom: 2px;
     padding: 6px;
     color: #000000;
   }

   .list-anime {
     position: relative;
     padding: 12px;
     background: #fff;
     margin-top: 1px;
     margin-bottom: 3px;
     width: 130px;
     display: inline-table;
     word-wrap: break-word;
   }

   .list-anime img {
     width: 130px;
     height: 183px;
     vertical-align: middle;
   }

   .list-anime p {
     background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 51%, rgba(0, 0, 0, 0.65) 100%);
     background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 51%, rgba(0, 0, 0, 0.65) 100%);
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 51%, rgba(0, 0, 0, 0.65) 100%);
     position: absolute;
     left: 0;
     bottom: 0;
     /* background: rgba(0, 0, 0, 0.7); */
     color: #FFF;
     padding: 5px;
     margin: 12px;
     width: 120px;
     text-align: center;
     border-bottom: .25rem solid #168CCC !important;
   }

   .list-anime span {
     overflow: hidden;
     background: #279ddd;
     position: absolute;
     right: 2px;
     top: 2px;
     color: #fff;
     border-radius: 50%;
     height: 28px;
     width: 28px;
     text-align: center;
     line-height: 30px;
     font-size: 11px;
     font-weight: 800;
     transition: .3s;
     border: 2px solid #fff;
   }

   .list-anime img:hover {
     opacity: 0.7
   }

   @media screen and (min-width: 720px) {
     .loca {
       margin: 0 8px 8px 8px;
       -moz-border-radius: 0px 0px 10px 10px;
       -webkit-border-radius: 0px 0px 10px 10px;
       border-radius: 0px 0px 10px 10px;
       border: 1px solid #168CCC;
     }

     .title {
       margin: 8px 8px 0 8px;
       -moz-border-radius: 10px 10px 0px 0px;
       -webkit-border-radius: 10px 10px 0px 0px;
       border-radius: 10px 10px 0px 0px;
     }
   }

   @media screen and (max-width: 719px) {
     .menu {
       margin: 0px;
     }

     h1.title,
     h2.title {
       margin: 0;
     }
   }

   .ep {
     padding: 4px;
     text-align: center;
   }

   .ep a {
     padding: 6px;
     display: inline-block;
     margin: 4px;
     background: #ffffff;
     border: 3px solid #279ddd;
     color: #555555;
     text-decoration: none;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
   }

   .ep a:hover {
     opacity: 0.6;
     border: 3px solid #92a1aa;
   }

   .ep strong {
     display: block;
     margin-bottom: 10px;
   }

   .ep li {
     list-style-type: disc;
     text-align: left;
     margin: 5px 10px;
   }

   .ep li a {
     color: #279ddd;
     border: 0;
     padding: 5px;
   }

   .ep li a:hover {
     padding: 5px;
     border: 0;
   }

   .letter {
     margin-top: 5px;
     color: #fff;
     font-weight: bold;
     padding: 5px 8px;
     background: #279ddd;
   }

   .anime-list li {
     padding: 5px 10px;
     color: #444;
     list-style-type: disc;
     border-bottom: 1px dotted #dbdbdb;
   }

   .pilih {
     padding: 6px;
     text-align: center;
   }

   .pilih a {
     margin: 2px;
     display: inline-block;
     overflow: hidden;
     padding: 4px 8px;
     background: #279ddd;
     border: 2px solid #279ddd;
     text-decoration: none;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     color: #fff;
   }

   .pilih a:hover {
     background: #168ccc;
     border: 2px solid #168ccc;
   }

   .list-genre a {
     color: #fff;
     background: #279ddd;
     margin: 2px;
     padding: 3px;
     border: 1px solid #279ddd;
     display: inline-block;
     border-radius: 3px;
   }

   .list-genre a:hover {
     background: #168ccc;
   }

   .bungkus {
     margin: 10px 0;
   }

   .info {
     padding: 8px;
     vertical-align: middle;
     color: #00529B;
     margin: 6px 0px;
     border: 2px solid #279DDD;
     background-color: #BDE5F8;
   }

   .servers {
     padding: 2px;
   }

   .servers a {
     color: #fff;
   }

   .server.cur {
     min-width: 60px;
     padding: 5px;
     border: 0px solid #ffa500;
     background: #FDB813;
   }

   .server.cur a {
     color: #fff;
   }

   form {
     display: inline-block;
   }

   input.server {
     margin: 2px;
     min-width: 60px;
     height: 29px;
     color: #fff;
     padding: 5px;
     background: #279ddd;
     display: inline-block;
     -webkit-appearance: none;
     -webkit-border-radius: 0px;
   }

   .server {
     margin: 1px;
     min-width: 60px;
     text-align: center;
     color: #fff;
     padding: 5px;
     background: #279ddd;
     display: inline-block;
   }

   input {
     font-size: 14px;
     border: 0px;
   }

   .nav {
     margin-top: 6px;
   }

   .navi a {
     margin: 2px 0px;
     padding: 6px;
     color: #fff;
     background: #168ccc;
     display: block;
     text-align: center;
     border-radius: 6px;
   }

   .navi a:hover {
     background: #279ddd;
   }

   .navs li {
     padding: 5px 15px;
     color: #444;
     list-style-type: disc;
   }

   .label,
   .labels {
     font-size: small;
     border-radius: 6px;
     background: #168CCC;
     display: inline-block;
     padding: 2px 3px;
     margin: 2px 0 2px;
     color: #ffffff;
   }

   .label:hover,
   .labels:hover {
     background: #279DDD;
   }

   #footer {
     background: #168CCC;
     padding: 7px;
     color: #ffffff;
     text-align: center;
   }

   @media only screen and (min-width:1050px) {
     #tontonin {
       width: 632px;
       height: 362px
     }
   }

   @media only screen and (min-width:960px) and (max-width:1049px) {
     #tontonin {
       width: 100%;
       height: 348px
     }
   }

   @media only screen and (min-width:768px) and (max-width:959px) {
     #tontonin {
       width: 100%;
       height: 261px
     }
   }

   @media only screen and (min-width:640px) and (max-width:767px) {
     #tontonin {
       width: 100%;
       height: 217px
     }
   }

   @media only screen and (max-width:639px) {
     #tontonin {
       width: 100%;
       height: 255px
     }
   }

   @media only screen and (max-width:451px) {
     #tontonin {
       width: 100%;
       height: 220px
     }
   }

   @media only screen and (max-width:375px) {
     #tontonin {
       width: 100%;
       height: 180px
     }
   }

   @media screen and (min-width: 1000px) {
     .nganan {
       display: table-cell;
       margin-left: 14px;
       width: 35%;
       vertical-align: top;
     }

     .ngiri {
       display: table-cell;
       width: 65%;
     }
   }
